<a href="https://colab.research.google.com/github/graj90/Cafe-App/blob/main/python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = "pooja"
print ("Hello", name)

Hello pooja

# the the line for taking name via variable

In [ ]:
print ("Hello python","programming")

Hello python programming

In [ ]:
a=3.6
b=5.6
print(a+b)
print(4.5+6.5)

9.2
11.0

In [ ]:
number_str="10"
   number_int=int(number_str)  # Converts "10" to 10

IndentationError: unexpected indent (<ipython-input-14-4152d0653e5c>, line 2)

In [ ]:
number_str = "10"
number_int = int(number_str)  # Converts "10" to 10

In [ ]:
number_str = "10"
number_int = int(number_str)  # Converts "10" to 10

In [ ]:
age=25
name="pooja"
weight=45.5
print (type(age))
print (type(name))
print (type(weight))

<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
print("welcome to the python")
number=10
print("the number is ",number)

welcome to the python
the number is  10

In [ ]:
print(2+3)

5

In [ ]:
number=int("10")
string=str(10)
print

In [ ]:
number = int("10")
string = str("15")
float_value = float(59)
print(number, string, float_value)

10 15 59.0

In [ ]:
name=input("enter your name")
print("your name is",name)

enter your nameraj
your name is raj

In [ ]:
name=input("enter the name")
print("hello", name+ "!")

enter the namepooja
hello pooja!

In [ ]:
age=input("how old are you")
print("i am a ", age , "years old")

how old are you45
i am a  45 years old

In [ ]:
name=input("enter the your name")
print("Hi how are you ", name+ "!")

enter the your namepooja
Hi how are you  pooja!

In [ ]:
age=input("how old are you")
print("Next year you will be ", age+1, "years old")

how old are you24

TypeError: can only concatenate str (not "int") to str

In [ ]:
age = int(input("how old are you"))  # Convert input to an integer
print("Next year you will be ", age + 1, "years old")

how old are you25
Next year you will be  26 years old

In [ ]:
age= int (input("enter the your age"))
print("next year you will be", age+1, "years old")

enter the your age24
next year you will be 25 years old

In [1]:
num1=float(input("enter the first number"))
num2=float(input("enter the second number"))
result=num1+num2
print("the sum of two number is", result)

enter the first number4
enter the second number4
the sum of two number is 8.0

In [5]:
num1=int(input("enter the first number"))
num2=float(input("enter the seconf number"))
result=num1+num2
print("the sum of two number is",result)

enter the first number2
enter the seconf number3.0
the sum of two number is 5.0

In [ ]:
name1=input("enter your name")
print("my name is ",name1)

enter your namepooja
my name is  pooja

In [ ]:
age=10
name="poojraj"
print(f"my name is {name} and my age is {age}")
print(age)
print(name)

my name is poojraj and my age is 10
10
poojraj

In [7]:
name="pooja"
age=10
color="blue"
print (f"my name is {name},i am a {age} years old","my fav color is {color}")

my name is pooja,i am a 10 years old my fav color is {color}

In [10]:
first_name=input("enter the your first name")
last_name=input("enter the your last name")
age=input("enter the your age")
print(f" I am a  {first_name}, my sir name  {last_name}, and i am {age} years old")

enter the your first namePooja
enter the your last nameRathod
enter the your age17
 I am a  Pooja, my sir name  Rathod, and i am 17 years old

In [12]:
n1=int(input("enter first number"))
n2=int(input("enter the second number"))
print(f"sum of two numbers is {n1+n2}")
print(f"sub of two numbers is {n1-n2}")
print(f"mul of two numbers is {n1*n2}")
print(f"quations of two number is {n1/n2}")

enter first number8
enter the second number4
sum of two numbers is 12
sub of two numbers is 4
mul of two numbers is 32
quations of two number is 2.0

In [18]:
name=input("enter the your name:")
num=int(input("enter the number age:"))
print(f"hello {name}, did you know the {num} is times 2 is 14")

enter the your name:Pooja
enter the number age:7
hello Pooja, did you know the 7 is times 2 is 14

In [6]:
name=str(input("enter your name"))
hobby=str(input("Enter your hobby"))
hour=int(input("how many hours do spend on hobby"))
print("my name is ", name)
print("my hobby is ", hobby)
print(" i spend ", hour , "hour on hobby ")

enter your namepooja
Enter your hobbyediting
how many hours do spend on hobby4
my name is  pooja
my hobby is  editing
 i spend  4 hour on hobby

# This is the second session for learning python